<div class="footer">
    <div class="main">
        <div class="xwzj">
            <h5>学无止境</h5>
            <ul>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
                <li>
                    <i class="foot_serial">1</i>
                    <a href="#">轻摇时光，我站在孤独里守望</a>
                    <i class="foot_num">39</i>
                </li>
            </ul>
        </div>
        <div class="jxwz">
            <h5>精选文章</h5>
            <ul>
                <li>
                    <div class="fl">
                        <img src="__STATIC__/img/7.jpg" alt="">
                    </div>
                    <div class=" fl ce">
                        <a href="#" class="t1">云来云散，回忆中有你牵绊</a>
                        <a href="#" class="t2">时光从没停留，脆弱的美好，怎能搭建起牢固的城堡。让过去消失在风里，停留在心里。</a>
                    </div>
                </li>
                <li>
                    <div class="clearfl fl">
                        <img src="__STATIC__/img/7.jpg" alt="">
                    </div>
                    <div class=" fl ce">
                        <a href="#" class="t1">云来云散，回忆中有你牵绊</a>
                        <a href="#" class="t2">时光从没停留，脆弱的美好，怎能搭建起牢固的城堡。让过去消失在风里，停留在心里。</a>
                    </div>
                </li>
                <li>
                    <div class="clearfl fl">
                        <img src="__STATIC__/img/7.jpg" alt="">
                    </div>
                    <div class=" fl ce">
                        <a href="#" class="t1">云来云散，回忆中有你牵绊</a>
                        <a href="#" class="t2">时光从没停留，脆弱的美好，怎能搭建起牢固的城堡。让过去消失在风里，停留在心里。</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sjtj">
            <h5>随机推荐</h5>
            <ul>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
                <li>
                    <i>1</i>
                    <a href="#">在孤独中心如止水</a>
                </li>
            </ul>
        </div>
    </div>
</div>