<div class="header">
    <div class="main">
        <div class="header-t">
            <h1 id="tmove">
                <a href="#">青春往事</a>
            </h1>
            <p>青春时光，匆匆恍恍。还没来得及尽情挥霍，便已奔向远方。</p>
        </div>
    </div>

    <div class="nav">
        <div class="main">
            <a href="#">首页</a>
            <a href="#">关于我</a>
            <a href="#">心情日记</a>
            <a href="#">慢生活</a>
            <a href="#">时光轴</a>
            <a href="#">留言板</a>
            <a href="#">相册</a>
        </div>
    </div>
</div>