<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link href="__STATIC__/css/index2.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="__STATIC__/js/jquery-3.1.1.min.js"></script>
    <!--<link href="__STATIC__/back/css/stylesheet.css" type="text/css" rel="stylesheet" media="screen" />-->
</head>

<body>
<div id="container">
    {include file="common/header" /}
    {block name="content"}{/block}
    {include file="common/foot"/}
</div>
<script type="text/javascript" src="__STATIC__/js/banner.js"></script>
<script type="text/javascript" src="__STATIC__/lib/bootstrap/js/bootstrap.js"></script>
{block name="appendJs"}{/block}
</body>
</html>